@{
    ViewData["Title"] = "Mr FixIt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MrFixIt.Models.Job

@*Partial to be displayed when a job is marked as active*@
<li>You have activated @Model.Title</li>