@{
    ViewData["Title"] = "Mr FixIt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MrFixIt.Models.Job

@*Partial to display when a task is marked as complete*@
<li>You have completed @Model.Title</li>