body {
    padding-top: 70px;
    color: navy;
    background-color: beige;
}

.link {
    text-decoration: underline;
    color: blue;
}

.property {
    font-weight: bold;
}

.italicize {
    font-style: italic;
}

.subheader {
    color: gray;
}